@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
  .my-header__main_block{
    .h1{
      font-size: 46px;
    }
  }
  .my-header__contacts{
    font-size: 12px;
  }
}

// ≥992px
@include media-breakpoint-down(md) {
  .my-header__main_block{
    .h1{
      font-size: 35px;
    }
  }
}

// ≥768px
@include media-breakpoint-down(sm) {
  .header-flex .flex-center .my-header__composition .my-header__main_block strong{
    font-size: 15px;
  }
  .my-header__main_block{
    .h1{
      font-size: 26px;
      margin-top: 10px;
      padding-bottom: 10px;
    }
  }
  .my-header__description{
    font-size: 13px;
  }
  .header-flex .flex-center .my-header__composition .my-header__main_block p span{
    font-size: 16px;
  }
}

// ≥576px
@include media-breakpoint-down(xs) {
  /*header section*/

  .header-flex .flex-center .my-header__composition .my-header__main_block strong{
    font-size: 12px;
    margin-top: 10px;
  }
  .my-header__main_block{
    .h1{
      font-size: 14px;
    }
  }
  .header-flex .flex-center .my-header__composition p{
    margin-top: 5px;
    margin-bottom: 0;
  }
  .my-header__description{
    font-size: 10px;
    margin-top: 0;
  }
  .header-flex .flex-center .my-header__composition .my-header__main_block p span{
    font-size: 11px;
  }
  .button{
    font-size: 10px;
    padding: 10px 30px;
  }
  .my-header__contacts{
    padding: 5px 0;
  }
  .social-icon a {
    height: 25px;
    width: 25px;
    margin: 13px 0;
    line-height: 29px;
    font-size: 14px;
  }
  .my-header__wrapper{
    padding: 15px 0;
  }
  .my-header__wrapper .hamburger{
    top: 17px;
  }
  .header-flex{
    top: 25%;
  }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}
